extends layout

block content
        form(action='/api/v01/usuariomobile/restaurar/'+locals.accoundID,method='post')
                input(type='hidden',name='accountId',value='#{ID}')
                p
                        label(for='password') Nova Senha:
                        input#password(type='password', name='password')
                p
                        input(type='submit')